html,
body {
  /* 염두해둔 글씨체
    Google Font 
    -> fredoka one, kalam, Baloo, nanum Pen script */
  font-family: "Fredoka One", cursive;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* div 1 */
#div-clock canvas {
  position: absolute;
  /* top: 0;
  left: 0; */
  /* z-index: 0; */
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

#div-clock .js-clock {
  width: 100%;
  position: absolute;
  top: 60%;
  font-size: 54px;
  margin: 0 auto;
}

#div-clock .js-clock h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.js-toDoForm {
  text-align: center;
  margin-bottom: 30px;
}

.js-toDoList {
  text-align: left;
  padding: 0px;
  font-size: 35px;
  display: inline-block;
  width: 50%;
  list-style: none;
  margin: 0;
}

.js-toDoList li {
  margin-bottom: 20px;
}

.js-toDoList li div {
  display: inline-block;
}
input[type="text"] {
  padding-bottom: 10px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  text-align: center;
}

input:focus {
  outline: none;
}

.js-showDay {
  margin: 0px;
  font-size: 30px;
}

.Dday,
.showDay {
  display: none;
}

.showing {
  display: block;
}

.SH_hover {
  display: transparent;
}

.SH_hover:hover {
  transition: background-color 0.5s;
  background-color: rosybrown;
}

/* window size에 따른 div 변화 */
#div-clock,
#div-Dday,
#div-toDo {
  float: left;
}

#div-clock {
  height: 60%;
  width: 100%;
  position: relative;
}

#div-Dday {
  height: 40%;
  width: 100%;
  text-align: center;
}

#div-toDo {
  text-align: center;
}

@media (min-width: 996px) {
  #div-clock {
    height: 60%;
    width: 60%;
  }
  #div-Dday {
    height: 60%;
    width: 40%;
    text-align: center;
  }
  #div-toDo {
    height: 40%;
    width: 100%;
    text-align: right;
  }
}
