html,
body {
  /* 염두해둔 글씨체
    Google Font 
    -> fredoka one, kalam, Baloo, nanum Pen script */
  font-family: "Fredoka One", cursive;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .js-clock {
  margin-left: 100px;
} */

/* canvas와 div 같이 표현하기!!! */

/* div 1 */
#div1 canvas {
  position: absolute;
  /* top: 0;
  left: 0; */
  /* z-index: 0; */
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

#div1 .js-clock {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 250px;
  font-size: 48px;
}
/* window size에 따른 div 변화 */
div {
  float: left;
}

#div1 {
  height: 60%;
  width: 100%;
  position: relative;
}

#div2 {
  height: 40%;
  width: 100%;
}

@media (min-width: 996px) {
  #div1 {
    height: 60%;
    width: 60%;
  }
  #div2 {
    height: 50%;
    width: 40%;
  }
}
